---
layout: base
title: Projects | Tim Best
projects: active
---

<div class="container">
  <h2>Projects</h2>
  {% for project in site.data.projects %}
  <hr>
  <div class="{{ project.class }}">
    <a href="{{ project.project_page }}">
      <figure>
        <img src="{{ project.image_src }}" />
      </figure>
    </a>
    {% if project.title %}
    <h3/><a  href="{{ project.project_page }}">{{ project.title }}</a></h3>
    {% endif %}
    <p>{{ project.description }}</p>
    <div class="flex-row-space-between">
      <a href="{{ project.project_page }}" {{ project.project_target }} > PROJECT PAGE</a>
      {% if project.repo %}
      <a href="{{ project.repo }}" target="_blank">{{ project.repo_service }} REPOSITORY</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
