{% extends "templates/_base.html" %}
{% import 'templates/_macros.html' as macros %}

{% block title %}1983 Porsche 944 | Tim Best{% endblock %}

{% block projects_class %}active{% endblock %}

{% block content %}
<div class="container">
  <h2>
    <a href="/projects/">&#8612; 1983 Porsche 944</a>
  </h2>
  <p><b>May 2013 - September 2015</b></p>
  <p>
    My second car.
  </p>
  <hr/>
  <h3>Whats been done?</h3>
  <ul>
    <li>New starter and battery.</li>
    <li>Replaced cabin lights and dashboard indicators with LEDs.</li>
    <li>Fixed driver's door lock and replace passenger's door handle.</li>
    <li>Replaced brake and clutch master.</li>
    <li>Replaced water pump, all engine belts, engine temperature gauge, and upgraded to a warm climate thermostat.</li>
    <li>Replaced rotor, distributor, spark plugs, and spark pug wires.</li>
  </ul>


  <h3>Slideshow</h3>
  <div class="my-gallery flex-row-space-between" itemscope itemtype="/images/composers_couch/calendar_month.png">
    {{ macros.screenshot(url="/images/1983_porsche_944/side.jpg", caption="") }}
  </div>
</div>
{% endblock %}
