{% extends "templates/_base.html" %}

{% block title %}Projects | Tim Best{% endblock %}

{% block projects_class %}active{% endblock %}

{% block content %}
<div class="container">
  <h2>Projects</h2>
  <hr/>

  <div class="projects-page">
    <section>
      <h6>Show:</h6>
      <ul class="project-menu">
        <li><a href="#all">All</a></li>
        <li><a class="web" href="#web">Web</a></li>
        <li><a class="car" href="#car">Car</a></li>
        <li><a class="sewing" href="#sewing">Sewing</a></li>
      </ul>
    </section>
    <span class="projects project-cards-layout">
      {% for project in projects %}
      <div class="project">
        <div class="card {{ project.class }}">
          <a href="{{ project.project_page }}">
            <img src="{{ static(project.image_src) }}" alt="{{ project.image_alt }}"/>
          </a>
          <section>
            {% if project.title %}
            <h3><a href="{{ project.project_page }}">{{ project.title }}</a></h3>
            {% endif %}
            <p>{{ project.description }}</p>
            <div class="text-right">
              <a href="{{ project.project_page }}">View Project</a>
            </div>
          </section>
        </div>
      </div>
      {% endfor %}
    </span>
  </div>
</div>

<script>
  $(".project-menu a").click(function() {
    // ensure all cards are shown
    $(".projects .card").show();
    if ($(this).attr('class')) {
      // hide the cards that arn't relavent
      $(".projects .card").not("." + $(this).attr('class')).hide();
    }
  });
</script>
{% endblock %}
