    <footer class="row">
      <hr/>
      <div class="large-6 columns">
        <ul class="inline-list">
          <li>
            <a href="mailto:besttimothy1@gmail.com" target="_blank">
              BestTimothy1@gmail.com
            </a>
          </li>
        </ul>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li>
            <a href="https://www.linkedin.com/pub/timothy-best/58/697/88a" target="_blank">
              <span class="fi-social-linkedin" style="color:#4875B4;"></span>
            </a>
          </li>
          <li>
            <a href="https://github.com/TimothyBest" target="_blank">
              <span class="fi-social-github" style="color:#333333;"></span>
            </a>
          </li>
          <li>
            <a href="http://stackoverflow.com/users/3272220/timbest" target="_blank">
              <span class="fi-social-stack-overflow" style="color:#fe7a15;"></span>
            </a>
          </li>
        </ul>
      </div>
    </footer>

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      /* Initialize Tabs */
      $(document).foundation({
        tab: {}
      });
    </script>
  </body>
</html>
