<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2161A8">
    <title>Timothy Best</title>
    <!--<link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.png"> -->
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/foundation-icons.css">
  </head>
  <body>
    <div class="row">
      <div class="large-6 columns">
        <h1><a class="text-black" href="/" >Timothy Best</a></h1>
      </div>
      <div class="large-6 columns text-right">
        <ul class="tabs " data-tab role="tablist">
          <li class="tab-title active" role="presentation">
            <a href="#about" role="tab" tabindex="0" aria-selected="true" aria-controls="about">
              About Me
            </a>
          </li>
          <li class="tab-title" role="presentation">
            <a href="#resume" role="tab" tabindex="0" aria-selected="false" aria-controls="resume">
              Resume
            </a>
          </li>
          <li class="tab-title" role="presentation">
            <a href="#projects" role="tab" tabindex="0" aria-selected="false" aria-controls="projects">
              Projects
            </a>
          </li>
        </ul>
      </div>
      <hr/>
    </div>
