header {
  background-color: $primary-color;
  margin-bottom: 20px;

  a {
    color: $white;

    &:visited {
      color: $white;
    }

    &:hover,
    &:focus,
    &.active {
      color: $secondary-color;
      text-decoration: none;
    }
  }

  nav {
    align-self: center;

    a {
      text-transform: uppercase;
    }
  }
}

.inline-links {
  padding: 16px 0;

  a {
    padding: 16px 8px;

    &:first-child {
      padding-left: 0;
    }
  }
}

footer {
  .flex-row-space-between {
    margin: 20px 0;
  }
}
