html {
  font-family: $font-family-sans-serif;
}

body {
  background-color: $ghost;
  color: $jet;
}

header {
  background-color: $primary-color;

  a {
    color: $white;
    &:hover {
      color: $secondary-color;
      text-decoration: none;
    }
  }

  h1 {

  }
  nav {
  }
}
footer {

}
