@import 'foundation/components/global';


$header-color: $white;
$header-color-dark: $secondary-color;//darken($header-color, 20%);


/* HEADER */
.header {
  background-color: $primary-color;
  color: $header-color;
  margin-bottom: 20px;
  a, h1, h2, h3, h4, h5, h6 {
    color: $header-color;
  }
  a:hover {
    color: $header-color-dark;
  }
  .tabs {
    dd,
    .tab-title {
      > a {
        color: $header-color;
      }
      &.active a {
        color: $header-color-dark;
      }
    }
  }
}

@media only screen and (min-width: 40.063em) {
  .header {
    position: relative;
    .global-nav-right {
      position: absolute;
      bottom: 8px;
      right: 0px;
    }
  }
}

/* FOOTER */
footer {
  ul {
    font-size: 1.3rem;
  }
}
