extends 'templates/_base.pug'

| {% import 'templates/_macros.pug' as macros %}
block title
  | Project For drchrono | Tim Best
block projects_class
  | active

block content
  .container
    h2
      a(href='/projects/') ↤ drchrono
    p
      | Projects I worked on to learn the drchrono API.
    hr
    h3 Happy Birthday drchono
    a(href='//github.com/TimBest/Happy_Birthday_drchrono', target='_blank') REPOSITORY
    p
      | Doctors using drchrono for their electronic record keeping can sign up and the application will send their patients a happy birthday email/text.
    .my-gallery.flex-row-space-between(itemscope='', itemtype="{{ static('/images/composers_couch/calendar_month.png') }}")
      | {{ macros.screenshot(url="/images/drchrono/happy-birthday/homescreen.png", caption="Home page.") }}
      | {{ macros.screenshot(url="/images/drchrono/happy-birthday/profile-email-deactivated.png", caption="Profile page with the email Happy Birthday form's notification deactivated.") }}
      | {{ macros.screenshot(url="/images/drchrono/happy-birthday/profile-sms-active.png", caption="Profile page with the SMS Happy Birthday form's notification activated.") }}
      | {{ macros.screenshot(url="/images/drchrono/happy-birthday/homescreen-logged-in.png", caption="Home page as seen by a user that is logged in.") }}
    hr
    h3 Appointment Booking drchrono
    a(href='//github.com/TimBest/Appointment_Booking_drchrono', target='_blank') REPOSITORY
    p
      | A third party web application built using drchrono's API that allows patients to book appointment with their provider
    h3 Practice
    .my-gallery.flex-row-space-between(itemscope='', itemtype="{{ static('/images/composers_couch/calendar_month.png') }}")
      | {{ macros.screenshot(url="/images/drchrono/appointments/home-page-no-users.png", caption="") }}
      | {{ macros.screenshot(url="/images/drchrono/appointments/oauth-drchrono.png", caption="") }}
      | {{ macros.screenshot(url="/images/drchrono/appointments/practice-profile.png", caption="") }}
      | {{ macros.screenshot(url="/images/drchrono/appointments/home-page-with-practice.png", caption="") }}
    hr
    h3 Patient
    .my-gallery.flex-row-space-between(itemscope='', itemtype="{{ static('/images/composers_couch/calendar_month.png') }}")
      | {{ macros.screenshot(url="/images/drchrono/appointments/home-page-with-practice.png", caption="") }}
      | {{ macros.screenshot(url="/images/drchrono/appointments/form.png", caption="") }}
      | {{ macros.screenshot(url="/images/drchrono/appointments/date-picker.png", caption="") }}
      | {{ macros.screenshot(url="/images/drchrono/appointments/signup-after-form-submit.png", caption="") }}
      | {{ macros.screenshot(url="/images/drchrono/appointments/patient-profile.png", caption="") }}
      | {{ macros.screenshot(url="/images/drchrono/appointments/form-auto-fill.png", caption="") }}
