/* Global */

.adoorable {
  height: 100vh;
  min-height: 100%;
  padding: 4em;
  color: #d4d4d4;
  font-family: 'Anonymous Pro', monospace;  
  background-color: #1e1e1e;
  line-height: 1.3;
  margin: -8px;
}

.adoorable .container {
  max-width: 500px;
}

.adoorable h1 a {
  color: #D7BA7B;
  text-decoration: none;
}

.adoorable a {
  color: #388cc8;
}

.adoorable h2, .adoorable h3, .adoorable h4, .adoorable h5, .adoorable h6 {
  color: #9cdcfe;
}

.adoorable .subtitle {
 display: flex;
 font-size: 24px;
}

.adoorable .subtitle h2 {
  font-size: 24px;
  margin: 0px;
 }

.adoorable .typewriter {
  color: #d0836b;
  border-right: 3px solid rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;
  margin: 0 3px 0 14px;
}

.adoorable .typewriter.home {
  width: 86.4px;
  animation: typewriter-home 600ms steps(6) 1s 1 normal both,
             blinkTextCursor 1200ms steps(44) infinite normal;
}

.adoorable .typewriter.portal {
  width: 115.2px;
  animation: typewriter-portal 800ms steps(8) 1s 1 normal both,
             blinkTextCursor 1200ms steps(44) infinite normal;
}

.adoorable .typewriter.opportunity {
  width: 201.6px;
  animation: typewriter-opportunity 1500ms steps(14) 1s 1 normal both,
             blinkTextCursor 1200ms steps(44) infinite normal;
}

.adoorable .typewriter.mystery {
  width: 129.6px;
  animation: typewriter-mystery 800ms steps(8) 1s 1 normal both,
             blinkTextCursor 1200ms steps(44) infinite normal;
}

.adoorable h3 {
  padding: 10px 0 20px 0;
}

.adoorable .quote {
  padding-bottom: 20px;
}
.adoorable .quote .body{
  display: flex;
}
.adoorable .quote .open-quote {
  font-size: 25px;
}
.adoorable .quote .author {
  text-align: left;
  font-size: 14px;

}

@keyframes typewriter-portal {
  from { width: 0; }
  to { width: 115.2px; }
}

@keyframes typewriter-mystery {
  from { width: 0; }
  to { width: 129.6px; }
}

@keyframes typewriter-opportunity {
  from { width: 0; }
  to { width: 201.6px; }
}

@keyframes typewriter-home {
  from { width: 0; }
  to { width: 86.4px; }
}

@keyframes blinkTextCursor {
  0% { border-right-color: rgba(255,255,255,.75); }
  48% { border-right-color: rgba(255,255,255,.75); }
  52% { border-right-color: transparent }
  100%{border-right-color: transparent;}
}
