@font-face { font-family: "Montserrat"; src: url("./Montserrat-SemiBold.ttf") format("truetype"); }
h1, h2, h3, h4, h5, h6 { color: #39364c; margin: 0; }

html, body { margin: 0; padding: 0; font-family: Open Sans, Segoe UI, sans-serif; color: #394972; background-color: #f6f9f4; height: 100%; }

#index { display: grid; grid-template-rows: 45vh auto 100px; height: 100%; }
#index .houndstooth-index { background-color: #f6f9f4; background-image: url("./Houndstooth.svg"); background-repeat: repeat; background-size: 66px; background-position: center bottom; width: 100vw; box-shadow: 0 0 175px rgba(0, 0, 0, 0.3) inset; display: grid; align-items: center; justify-items: center; text-decoration: none; }
#index .houndstooth-index .title { font-size: 5vh; color: #f6f9f4; text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); font-family: "Montserrat", "Open Sans", sans-serif; }
#index .content .wrapper { margin: 0 auto; padding: 35px; max-width: 1200px; }
#index .content .patterns { display: flex; }
#index .content .patterns .card { box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5; border-radius: 5px; color: #394972; text-decoration: none; width: 150px; margin: 10px; }
#index .content .patterns .card:hover, #index .content .patterns .card:focus { transform: translateY(-1px); }
#index .content .patterns .card .card-image { display: flex; align-items: center; justify-content: center; height: 150px; }
#index .content .patterns .card .card-image img { border-radius: 5px 5px 0 0; width: 150px; }
#index .content .patterns .card .card-content { padding: 1em; display: flex; justify-content: center; }
#index .footer { display: flex; justify-content: center; align-items: center; color: #f6f9f4; background-color: #852237; }
#index .footer a { color: #f6f9f4; text-decoration: none; }
#index .footer a:hover, #index .footer a:focus { color: #ccc; }
