---
---

$title-font-color: #39364c;
$body-font-color: #394972;
$white: #f6f9f4;


@font-face {
  font-family: "Montserrat";
  src: url("/assets/Montserrat-SemiBold.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6 {
  color: $title-font-color;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Open Sans, Segoe UI, sans-serif;
  color: $body-font-color;
  background-color: $white;
  height: 100%;
}

#index {
  display: grid;
  grid-template-rows: 45vh auto 100px;
  height: 100%;

  .houndstooth {
    background-color: $white;
    background-image: url("/assets/img/background/Houndstooth.svg");
    background-repeat: repeat;
    background-size: 66px;
    background-position: center bottom;
    width: 100vw;
    box-shadow: 0 0 175px rgba(0, 0, 0, 0.3) inset;

    display: grid;
    align-items: center;
    justify-items: center;
    text-decoration: none;

    .title {
      font-size: 5vh;
      color: $white;
      text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                   0px 8px 13px rgba(0,0,0,0.1),
                   0px 18px 23px rgba(0,0,0,0.1);
     font-family: "Montserrat", "Open Sans", sans-serif;
    }
  }

  .content {
    .wrapper {
      margin: 0 auto;
      padding: 35px;
      max-width: 1200px;
    }

    .patterns {
      display: flex;

      .card {
        $card-radius: 5px;

        box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
        border-radius: $card-radius;
        color: $body-font-color;
        text-decoration: none;
        width: 150px;
        margin: 10px;

        &:hover,
        &:focus {
          transform: translateY(-1px);
        }

        .card-image {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 150px;

          img {
            border-radius: $card-radius $card-radius 0 0;
            width: 150px;
          }
        }

        .card-content {
          padding: 1em;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: #852237;

    a {
      color: $white;
      text-decoration: none;

      &:hover,
      &:focus {
        color: #ccc;
      }
    }
  }

}

#houndstooth {
  .houndstooth {
    background-color: #fff;
    background-image: url("/assets/img/background/Houndstooth.svg");
    background-repeat: repeat;
    background-size: 200px;
    background-position: center bottom;
    height:100vh;
    width:100vw;

    display: grid;
    align-items: center;
    justify-items: center;
  }


  .houndstooth-transition {
    background-color: #fff;
    background-image: url("/assets/img/background/Houndstooth_transition.svg");
    background-repeat: repeat;
    background-size: 200px;
    background-position: center top;
    height: 100px
  }

  .green-section {
    background-color: #2f565f;
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      color: #fff;
    }
  }

  .title {
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-size: 90px;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
  }
}

#lines {
  height:100vh;
  width:100vw;
  overflow: hidden;

  .row {
    white-space: nowrap;
  }

  svg {
    margin-right: -4px;
    margin-bottom: -4px;
  }
}
#lines2 {
  height:100vh;
  width:100vw;
  overflow: hidden;

  .row {
    white-space: nowrap;
  }

  svg {
    margin-right: -4px;
    margin-bottom: -4px;
  }
}
#lines3 {
  height:100vh;
  width:100vw;
  overflow: hidden;

  .row {
    white-space: nowrap;
  }

  svg {
    margin-right: -4px;
    margin-bottom: -4px;
  }
}


#isometric {
  .paper {
    background-image: url("/assets/img/patterns/isometric/with_lines_pattern.svg");
    background-repeat: repeat;
    background-size: 68px;
    background-position: left top;
    width: 100vw;
    height: 300px;

    display: grid;
    align-items: center;
    justify-items: center;

    h1 {
      text-align: center;
      color: #58c858;
      font-size: 3em;
    }
  }

  @function sqrt($r) {
    $x0: 1;
    $x1: $x0;

    @for $i from 1 through 10 {
      $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
      $x0: $x1;
    }

    @return $x1;
  }

  .grid {
    $width: 400px;
    $height: $width/(sqrt(3));

    display: grid;
    grid-template-columns: ($width/ 2) ($width/ 2);
    overflow: hidden;
    height: $height;
    color: #252525;

    .cell {
      height: $height;

      .shape {
        width: ($width/ 2);
        height: $height;
      }

      &:nth-child(even) {
        .shape {
          float: left;
          $path: polygon(0 0, 100% 0, 0 50%, 100% 100%, 0 100%);
          shape-outside: $path;
          clip-path: $path;
        }
        .content {
          background-color: #58c858;
          height: $height;
          clip-path: polygon(0 50%, 100% 0, 100% 100%);
        }
      }

      &:nth-child(odd) {
        .shape {
          float: right;
          $path: polygon(100% 0, 0 0, 100% 50%, 0 100%, 100% 100%);
          shape-outside: $path;
          clip-path: $path;
        }
        .content {
          background-color: #bfcfe5;
          height: $height;
          clip-path: polygon(0 0, 100% 50%, 0 100%);;
        }
      }
    }
    .row1 {
      position: relative;
      top: -($height/ 2);
      left: -($width/ 2);
    }

    .row2 {
      position: relative;
      top: -$height;
    }
  }

  .flex {
    $width: 100vw/15;
    $height: $width/(sqrt(3));
    height: ($height*14);
    overflow: hidden;
    background-color: #333;

    .row {
      display: flex;
      color: #252525;
      height: ($height/ 2);
      top: -($height/ 2);

      .cell {
        height: $height;

        .shape {
          width: ($width/ 2);
          height: $height;
        }

        &:nth-child(odd) {
          .shape {
            float: right;
            $path: polygon(100% 0, 0 0, 100% 50%, 0 100%, 100% 100%);
            shape-outside: $path;
            clip-path: $path;
          }
          .content, .s, .t, .f {
            height: $height;
            clip-path: polygon(0 0, 100% 50%, 0 100%);;
          }
          .content {
            background-color: #333;
          }
        }

        &:nth-child(even) {
          .shape {
            float: left;
            $path: polygon(0 0, 100% 0, 0 50%, 100% 100%, 0 100%);
            shape-outside: $path;
            clip-path: $path;
          }
          .content, .s, .t, .f {
            height: $height;
            clip-path: polygon(0 50%, 100% 0, 100% 100%);
          }
          .content {
            background-color: #333;
          }
        }

        .t {
          background-color: #ccc;
        }
        .s {
          background-color: #888;
        }
        .f {
          background-color: #fff;
        }

      }
      &:nth-child(odd) {
        position: relative;
        left: -($width/ 2);
      }

      &:nth-child(even) {
        position: relative;
      }
    }
  }
}
