---
layout: base
title: Chalk Bag | Tim Best
projects: active
---

<div class="container">
  <h2>
    <a href=/projects/>&#8612; Chalk Bag</a>
  </h2>
  <h5>June 17, 2015</h5>

  <h4>First Attempt: The Moose Bag</h4>
  <p>
    To make this bag I followed a
    <a href="DIY_chalk_bag_for_bouldering_or_climbing.pdf">pattern</a>
    found at
    <a href="http://www.craftsy.com/pattern/sewing/accessory/diy-chalk-bag-for-bouldering-or-climbing/26523">craftsy.com</a>
    with the following modifications:
    <ul>
      <li>Lengthened the bag's lining to eliminate a sizable separation between the lining and the shell.</li>
      <li>Added clear nail polish to the ends of the draw string and ribbons to prevent them from fraying.</li>
      <li>Cut out and ironed on a moose stencil to the outside of the bag.</li>
    </ul>
    Other then that the pattern worked as expected and allowed me the make a great bag.
  </p>

  {% include screenshot.html url="/images/chalk_bag/materials.jpeg" caption="I chose a jade corduroy as the external shell, a gray fleece for the bags liner, and a white nylon ribbon to strengthen the bag's opening and to add attachment points." %}
  {% include screenshot.html url="/images/chalk_bag/assembly.jpeg" caption="Part way through the assembly we can see the shapes of each cut and how the fleece already looks a bit to small." %}
  {% include screenshot.html url="/images/chalk_bag/finished.jpeg" caption="Here is the bag fully assembled and ready for some climbing." %}
  <p>
    For my next bag I plan to try this
    <a href="chalk_bag_pattern_for_climbers.pdf">pattern</a>
    found at
    <a href="http://blog.weighmyrack.com">weighmyrack.com</a>.
  </p>
</div>
