$card-shadow-color: rgba(0, 0, 0, .2);

.card {
  background: $white;
  border: 1px solid smartscale($white, 7%);
  border-radius: 3px;
  box-shadow: 0 1px 2px $card-shadow-color;
  color: isitlight($white);
  margin: .5rem;
  overflow: hidden;

  section {
    padding: 1rem;
  }
}
