$card-shadow-color: rgba(0, 0, 0, .2);
$card-color: $primary-color-light;

.card {
  background: $card-color;
  border: 1px solid smartscale($card-color, 7%);
  border-radius: 3px;
  box-shadow: 0 0 8px 0 $card-shadow-color;
  color: isitlight($card-color);
  margin: .5rem;
  overflow: hidden;

  section {
    padding: 1rem;
  }
}
