---
layout: base
title: 1979 Porsche 924 | Tim Best
projects: active
---

<div class="container">
  <h2>
    <a href=/projects/>&#8612; 1979 Porsche 924</a>
  </h2>
  <h5>September 2009 - November 2013</h5>
  <p>
    My first car.
  </p>
  <hr>

  <h4>Painting the wheels</h4>
  {% include screenshot.html url="/images/1979_porsche_924/wheel_old.jpg" caption="Old rims and calipers." %}
  {% include screenshot.html url="/images/1979_porsche_924/wheel_painted.jpg" caption="Calipers, lugs, and rims fresh after painting with high temperature engine rated spray paint." %}
  {% include screenshot.html url="/images/1979_porsche_924/wheel_caps.jpg" caption="Wheel caps colored with hobby paint and sealed with clear spray paint." %}
  {% include screenshot.html url="/images/1979_porsche_924/wheel_new.jpg" caption="Wheel fully put together and dried" %}
  <hr>

  <h4>Painting the car</h4>
  {% include screenshot.html url="/images/1979_porsche_924/painting_1.JPG" caption="Before painting." %}
  {% include screenshot.html url="/images/1979_porsche_924/painting_2.JPG" caption="Removed all rust with an angle grinder and sanded the entire body of the car." %}
  {% include screenshot.html url="/images/1979_porsche_924/painting_4.JPG" caption="Primed the bare metal and taped the car." %}
  {% include screenshot.html url="/images/1979_porsche_924/painting_9.JPG" caption="First attempt was far the heavy and the paint ran before drying." %}
  {% include screenshot.html url="/images/1979_porsche_924/painting_10.JPG" caption="After purchasing a proper gravity fed paint gun and much more practice the second attempt is much better." %}
  {% include screenshot.html url="/images/1979_porsche_924/painting_13.JPG" caption="Clear coat had a bit of orange peel due to holding the gun to far away. However, It is nothing a good coat of wax can't cover up." %}
  {% include screenshot.html url="/images/1979_porsche_924/painting_14.JPG" caption="Side view of the freshly painted 924" %}
  <hr>

  <h4>Adding halo lights</h4>
  {% include screenshot.html url="/images/1979_porsche_924/halo_lights_testing.jpg" caption="Testing my halo lights made with clear hosing, strips of weather proofed LEDs, and silver Mylar tape." %}
  {% include screenshot.html url="/images/1979_porsche_924/front.jpg" caption="Wired the halo lights to the day time running lights." %}
  {% include screenshot.html url="/images/1979_porsche_924/halo_lights_inaction.jpg" caption="Had to modify the headlights so they were raised when the day time running lights were turned on." %}
</div>
