---
layout: base
title: 1979 Porsche 924 | Timothy Best
projects: active
---

<div class="row">
  <div class="large-12 columns">
    <h2>
      <a class="body-font-color" href=/projects/>
        <span class="fi-arrow-left"></span> 1979 Porsche 924
      </a>
    </h2>
    <h5>September 2009 - November 2013</h5>
    <p>
      My first car.
    </p>

    <hr/>

    <h4>Painting the wheels</h4>
    <p>
    </p>
    <ul class="lightSlider">
      {% include screenshot.html url="/images/1979_porsche_924/old_wheel.jpg" caption="Old rims and calipers." %}
      {% include screenshot.html url="/images/1979_porsche_924/new_rim_and_caliper.jpg" caption="Calipers, lugs, and rims fresh after painting with high temperature engine rated spray paint." %}
      {% include screenshot.html url="/images/1979_porsche_924/wheel_caps.jpg" caption="Wheel caps colored with hobby paint and sealed with clear spray paint." %}
      {% include screenshot.html url="/images/1979_porsche_924/new_wheel.jpg" caption="Wheel fully put together and dried" %}
    </ul>

    <hr/>

    <h4>Adding halo lights</h4>
    <p>Comming Soon</p>
    <hr/>

    <h4>Painting the car</h4>
    <p>Comming Soon</p>
    <hr/>


  </div>
</div>
