---
layout: base
title: 1979 Porsche 924 | Timothy Best
projects: active
---

<div class="row">
  <div class="large-12 columns">
    <h2>
      <a class="body-font-color" href=/projects/>
        <span class="fi-arrow-left"></span> 1979 Porsche 924
      </a>
    </h2>
    <h5>September 2009 - November 2013</h5>
    <p>
      My first car.
    </p>

    <hr/>

    <h4>Painting the wheels</h4>
    <p>
    </p>
    <ul class="lightSlider">
      {% include screenshot.html url="/images/1979_porsche_924/front.jpg" caption="" %}
      {% include screenshot.html url="/images/1979_porsche_924/front.jpg" caption="" %}
    </ul>

    <hr/>

    <h4>Painting the car</h4>
    <p>
    </p>
    <ul class="lightSlider">
      {% include screenshot.html url="/images/1979_porsche_924/front.jpg" caption="" %}
      {% include screenshot.html url="/images/1979_porsche_924/front.jpg" caption="" %}
    </ul>


  </div>
</div>
