<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#59B390">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="/image/x-icon" href="/images/favicon.png?v2">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/scripts/modernizr.js"></script>

  </head>
  <body>
    <div class="header">
      <div class="row">
        <div class="medium-12 columns">
          <h1><a class="text-black" href="/" >Timothy Best</a></h1>
          <div class="global-nav-right">
            <ul class="tabs">
              <li class="tab-title {{ page.about }}"><a class="radius" href="/">About Me</a></li>
              <li class="tab-title {{ page.resume }}"><a class="radius" href="/resume/">Resume</a></li>
              <li class="tab-title {{ page.projects }}"><a class="radius" href="/projects/">Projects</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {{ content }}

    <footer class="row">
      <hr/>
      <div class="medium-6 columns">
        <ul class="inline-list">
          <li>
            <a href="mailto:besttimothy1@gmail.com" target="_blank">
              BestTimothy1@gmail.com
            </a>
          </li>
        </ul>
      </div>
      <div class="medium-6 columns">
        <ul class="inline-list right">
          <li>
            <a href="https://www.linkedin.com/pub/timothy-best/58/697/88a" target="_blank">
              <span class="social-link fi-social-linkedin"></span>
            </a>
          </li>
          <li>
            <a href="https://github.com/TimothyBest" target="_blank">
              <span class="social-link fi-social-github"></span>
            </a>
          </li>
          <li>
            <a href="http://stackoverflow.com/users/3272220/timbest" target="_blank">
              <span class="social-link fi-social-stack-overflow"></span>
            </a>
          </li>
        </ul>
      </div>
    </footer>

    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/fastclick.js"></script>
    <script src="/scripts/foundation.min.js"></script>
    <script src="/scripts/lightslider.js"></script>
    <script type="text/javascript">
        $(document).foundation();
    </script>
    <script type="text/javascript">
      $('.lightSlider').lightSlider({
          gallery: true,
          item: 1,
          slideMargin: 20,
          loop: true,
          //thumbItem: 9
      });
    </script>

  </body>
</html>
