<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2ba8cb">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="/image/x-icon" href="images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="header row">
      <div class="medium-12 columns">
        <h1><a class="text-black" href="/" >Timothy Best</a></h1>
        <div class="global-nav-right">
          <ul class="tabs">
            <li class="tab-title {{ page.about }}"><a href="/">About Me</a></li>
            <li class="tab-title {{ page.resume }}"><a href="/resume/">Resume</a></li>
            <li class="tab-title {{ page.projects }}"><a href="/projects/">Projects</a></li>
          </ul>
        </div>
      </div>
      <hr/>
    </div>

    {{ content }}

    <footer class="row">
      <hr/>
      <div class="medium-6 columns">
        <ul class="inline-list">
          <li>
            <a href="mailto:besttimothy1@gmail.com" target="_blank">
              BestTimothy1@gmail.com
            </a>
          </li>
        </ul>
      </div>
      <div class="medium-6 columns">
        <ul class="inline-list right">
          <li>
            <a href="https://www.linkedin.com/pub/timothy-best/58/697/88a" target="_blank">
              <span class="fi-social-linkedin" style="color:#4875B4;"></span>
            </a>
          </li>
          <li>
            <a href="https://github.com/TimothyBest" target="_blank">
              <span class="fi-social-github" style="color:#333333;"></span>
            </a>
          </li>
          <li>
            <a href="http://stackoverflow.com/users/3272220/timbest" target="_blank">
              <span class="fi-social-stack-overflow" style="color:#fe7a15;"></span>
            </a>
          </li>
        </ul>
      </div>
    </footer>

    <script src="/scripts/jquery-1.11.3.min.js"></script>
    <script src="/scripts/foundation.min.js"></script>
  </body>
</html>
