<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#59B390">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="/image/x-icon" href="/images/favicon.png?v2">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <div class="container flex-row-space-between">
        <h1><a href="/">Tim Best</a></h1>
        <nav>
          <a class="{{ page.projects }}" href="/projects/">Projects</a>
          <a class="{{ page.resume }}" href="/resume/">Resume</a>
        </nav>
      </div>
    </header>
    <main>
      {{ content }}
    </main>
    <footer class="container">
      <hr>
      <div class="flex-row-space-between">
        <span>
          <a href="mailto:besttimothy1@gmail.com" target="_blank">
            BestTimothy1@gmail.com
          </a>
        </span>
        <span>
          <a href="https://www.linkedin.com/pub/timothy-best/58/697/88a" target="_blank">
            LinkedIn
          </a>
          <a href="https://github.com/TimothyBest" target="_blank">
            GitHub
          </a>
          <a href="http://stackoverflow.com/users/3272220/timbest" target="_blank">
            Stack Overflow
          </a>
          <a href="https://www.hackerrank.com/TimothyBest" target="_blank">
            <span>Hacker Rank</span>
          </a>
        </span>
      </div>
    </footer>
  </body>
</html>
