---
layout: default
---

<div id="index">
  <div class="houndstooth">
    <h1 class="title">TIMOTHY BEST</h1>
  </div>
  <div class="content">
    <div class="wrapper">
      <div class="patterns">
        {% for pattern in page.patterns %}
        <a class="card" href="{{ pattern.href }}">
          <div class="card-image">
            <img src="/assets/img/patterns/{{ pattern.image }}"/>
          </div>
          <div class="card-content">
            {{ pattern.title }}
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <footer class="footer">
    <div>
      {{ site.email }}
      | <a href="https://github.com/timbest/">GitHub</a>
      | <a href="https://www.linkedin.com/in/tim-best-88a69758/">LinkedIn</a>
    </div>
  </footer>
</div>
