---
layout: default
---

<div id="isometric">
  <div class="paper">
    <h1>Isometric Grid</h1>
  </div>
  <div class="grid">
    <div class="cell row1"><div class="shape"></div>void</div>
    <div class="cell row1"><div class="shape"></div><div class="content">first row first cell</div></div>

    <div class="cell row2"><div class="shape"></div><div class="content">second row first cell</div></div>
    <div class="cell row2"><div class="shape"></div><div class="content">second row second cell</div></div>
  </div>
  <div class="flex">
    <div class="row">
      <div class="cell"><div class="shape"></div><div class="content">void cell</div></div>
      <div class="cell"><div class="shape"></div><div class="content">first row first cell</div></div>
      <div class="cell"><div class="shape"></div><div class="content">first row second cell</div></div>
    </div>
    <div class="row">
      <div class="cell"><div class="shape"></div><div class="content">second row first cell</div></div>
      <div class="cell"><div class="shape"></div><div class="content">second row second cell</div></div>
    </div>
  </div>
</div>
