@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

.adoorable {
  height: 100vh;
  min-height: 100%;
  padding: 4em;
  color: #d4d4d4;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #1e1e1e;
  line-height: 1.3;
  margin: -8px;
}

.adoorable .container {
  max-width: 500px;
}

.adoorable h1 a {
  color: #D7BA7B;
  text-decoration: none;
}

.adoorable a {
  color: #388cc8;
}

.adoorable h2, .adoorable h3, .adoorable h4, .adoorable h5, .adoorable h6 {
  color: #9cdcfe;
}

.adoorable .subtitle {
 display: flex;
 font-size: 24px;
}

.adoorable .subtitle h2 {
  font-size: 24px;
  margin: 0px;
 }

.adoorable .typewriter {
  color: #d0836b;
  border-right: 3px solid rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;
  margin: 0 3px 0 14px;
}

.adoorable .typewriter.five {
  width: 72px;
  animation: typewriter-five 550ms steps(5) 1s 1 normal both,
             blinkTextCursor 1200ms steps(44) infinite normal;
}

.adoorable .typewriter.six {
  width: 86.4px;
  animation: typewriter-six 600ms steps(6) 1s 1 normal both,
             blinkTextCursor 1200ms steps(44) infinite normal;
}

.adoorable .typewriter.seven {
  width: 100.8px;
  animation: typewriter-exit 350ms steps(7) 1s 1 normal both,
             blinkTextCursor 1200ms steps(44) infinite normal;
}

.adoorable .typewriter.eight {
  width: 115.2px;
  animation: typewriter-eight 800ms steps(8) 1s 1 normal both,
             blinkTextCursor 1200ms steps(44) infinite normal;
}

.adoorable .typewriter.nine {
  width: 129.6px;
  animation: typewriter-nine 800ms steps(9) 1s 1 normal both,
             blinkTextCursor 1200ms steps(44) infinite normal;
}

.adoorable .typewriter.eleven {
  width: 158.4px;
  animation: typewriter-eleven 550ms steps(11) 1s 1 normal both,
             blinkTextCursor 1200ms steps(44) infinite normal;
}

.adoorable .typewriter.fourteen {
  width: 201.6px;
  animation: typewriter-fourteen 1500ms steps(14) 1s 1 normal both,
             blinkTextCursor 1200ms steps(44) infinite normal;
}

@keyframes typewriter-five {
  from { width: 0; }
  to { width: 72px; }
}

@keyframes typewriter-six {
  from { width: 0; }
  to { width: 86.4px; }
}

@keyframes typewriter-seven {
  from { width: 0; }
  to { width: 100.8px; }
}

@keyframes typewriter-eight {
  from { width: 0; }
  to { width: 115.2px; }
}

@keyframes typewriter-nine {
  from { width: 0; }
  to { width: 129.6px; }
}

@keyframes typewriter-eleven {
  from { width: 0; }
  to { width: 158.4px; }
}

@keyframes typewriter-fourteen {
  from { width: 0; }
  to { width: 201.6px; }
}


@keyframes blinkTextCursor {
  0% { border-right-color: rgba(255,255,255,.75); }
  48% { border-right-color: rgba(255,255,255,.75); }
  52% { border-right-color: transparent }
  100%{border-right-color: transparent;}
}

.adoorable h3 {
  padding: 10px 0 20px 0;
}

.adoorable .quote {
  padding-bottom: 20px;
}

.adoorable .quote .body{
  display: flex;
}

.adoorable .quote .open-quote {
  font-size: 20px;
}

.adoorable .quote .author {
  text-align: left;
  font-size: 14px;
  padding-left: 15px;
}
