.paper { background-image: url("./with_lines_pattern.svg"); background-repeat: repeat; background-size: 68px; background-position: left top; width: 100vw; height: 300px; display: grid; align-items: center; justify-items: center; }
.paper h1 { text-align: center; color: #58c858; font-size: 3em; }
.paper p { text-align: center; color: #58c858; font-size: 1.5em; }

.flex { height: 53.8860251244vw; overflow: hidden; background-color: #333; }
.flex .row { display: flex; color: #252525; height: 1.9245008973vw; top: -1.9245008973vw; }
.flex .row .cell { height: 3.8490017946vw; }
.flex .row .cell .shape { width: 3.3333333333vw; height: 3.8490017946vw; }
.flex .row .cell:nth-child(odd) .shape { float: right; shape-outside: polygon(100% 0, 0 0, 100% 50%, 0 100%, 100% 100%); clip-path: polygon(100% 0, 0 0, 100% 50%, 0 100%, 100% 100%); }
.flex .row .cell:nth-child(odd) .content, .flex .row .cell:nth-child(odd) .s, .flex .row .cell:nth-child(odd) .t, .flex .row .cell:nth-child(odd) .f { height: 3.8490017946vw; clip-path: polygon(0 0, 100% 50%, 0 100%); }
.flex .row .cell:nth-child(odd) .content { background-color: #000; }
.flex .row .cell:nth-child(even) .shape { float: left; shape-outside: polygon(0 0, 100% 0, 0 50%, 100% 100%, 0 100%); clip-path: polygon(0 0, 100% 0, 0 50%, 100% 100%, 0 100%); }
.flex .row .cell:nth-child(even) .content, .flex .row .cell:nth-child(even) .s, .flex .row .cell:nth-child(even) .t, .flex .row .cell:nth-child(even) .f { height: 3.8490017946vw; clip-path: polygon(0 50%, 100% 0, 100% 100%); }
.flex .row .cell:nth-child(even) .content { background-color: #333; }
.flex .row .cell .t { background-color: #ccc; }
.flex .row .cell .s { background-color: #888; }
.flex .row .cell .f { background-color: #fff; }
.flex .row:nth-child(odd) { position: relative; left: -3.3333333333vw; }
.flex .row:nth-child(even) { position: relative; }
