extends 'templates/_base.jade'

block title 
  | Page Not Found | Tim Best

block about_class
  | active

block content
  .container.text-center
    h3
      | I am sorry, but the page you are looking for was not found
    a(href='/')
      | Go to the home page
